<div class="timeframe-container noselect">
  <div class="cf-label b-timeframe" (click)="onTimeframeClick(0, $event)" [ngClass]="{ 'active': isActive(0), 'disabled': isLoading() }">
    <label for="btnWeek" [ngClass]="{ 'disabled-label': isLoading() }">1w</label>
    <button id="btnWeek" class="hidden"></button>
  </div>
  <div class="cf-label b-timeframe" (click)="onTimeframeClick(1)" [ngClass]="{ 'active': isActive(1), 'disabled': isLoading() }">
    <label for="btnMonth" [ngClass]="{ 'disabled-label': isLoading() }">1m</label>
    <button id="btnMonth" class="hidden"></button>
  </div>
  <div class="cf-label b-timeframe" (click)="onTimeframeClick(2)" [ngClass]="{ 'active': isActive(2), 'disabled': isLoading() }">
    <label for="btnThreeMonth" [ngClass]="{ 'disabled-label': isLoading() }">3m</label>
    <button id="btnThreeMonth" class="hidden"></button>
  </div>
</div>