<nav class="nav-bar l-align-center">
    <!--the order of these is a little weird because of the float-left and float-right-->
    <div class="nav-button-container l-float-left">
        <a routerLink="/" routerLinkActive="active" class="nav-button">Home</a>
    </div>
    <div class="nav-button-container l-float-right">
        <a routerLink="/about" routerLinkActive="active" class="nav-button">About</a>
    </div>
    <div class="title noselect l-text-center">
        <span>Cryptoflow</span>
    </div>
</nav>
<div class="wrapper l-horz-center">
    <router-outlet></router-outlet>
</div>