<div class="wrapper l-horz-center">
    <div class="title noselect l-text-center">
        <span>Cryptoflow</span>
    </div>
    <div class="app-body">
        <div class="l-float-left l-width-half app-cont">
            <app-graph [data]="cryptoData"></app-graph>
        </div>
        <div class="l-float-right l-width-half app-cont">
            <app-prediction (predict)="onPrediction($event)" (disclaim)="onDisclaim($event)"></app-prediction>
        </div>
    </div>
    <app-footer [disclaimer]="disclaimer" class="footer noselect"></app-footer>
</div>