<div class="wrapper l-horz-center">
    <div class="title noselect l-text-center">
        <span>Cryptoflow</span>
    </div>
    <div class="app-body">
        <div class="app-cont">
            <div class="l-float-left l-width-half">
                <app-graph></app-graph>
            </div>
            <div class="l-float-right l-width-half">
                <app-prediction></app-prediction>
            </div>
        </div>
        <div>

        </div>
    </div>
    <app-footer class="footer noselect"></app-footer>
</div>