.l-horz-center {
    margin-left: auto;
    margin-right: auto;
}

.l-text-center {
    text-align: center;
}

.l-float-left {
    float: left;
}

.l-float-right {
    float: right;
}

.l-width-half {
    width: 50%;
}

.l-align-center {
    margin-left: auto;
    margin-right: auto;
}