@font-face {
    font-family: "Chewy";
    src: url("/assets/fonts/Chewy.ttf") format("truetype");
}

button {
    background-color: $button-background-color;
    border: none;
    text-decoration: none;
    border-radius: 8px;
    font-family: $chewy-font;
    font-size: 25px;
}

pre {
    background-color: lightgrey;

    code {
        font-size: 15px;
    }
}