@font-face {
    font-family: "Chewy";
    src: url("/assets/fonts/Chewy.ttf") format("truetype");
}

button {
    background-color: lightskyblue;
    border: none;
    text-decoration: none;
    border-radius: 8px;
    font-family: $chewy-font;
    font-size: 25px;
}

button:hover:enabled {
    background-color: rgb(86, 203, 241);
    cursor: pointer;
}