$body-width: 80%;
$body-min-width: 200px;
$body-max-width: 1500px;

$nav-color: white;
// $background-color: #d3d3d3;
$background-color: black;

$chewy-font: "Chewy";

// $value-background-color: rgb(69, 223, 133);
$value-background-color: #062f4f;

// $button-background-color: lightskyblue;
$button-background-color: #b34c9e;

//ink:      #062f4f -or- #0e68ad
//posy:     #b34c9e
//embers:   #d44e18